@model MainPageViewModel

@{
    ViewData["Title"] = "ProductsController";
    var PModel = Model.ProductViewModel;
}

<h1>ProductsController</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductViewModel.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductViewModel.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductViewModel.FirstOrDefault().Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductViewModel.FirstOrDefault().InventoryValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductViewModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
